.route-animation-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.route-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: routeAnimation 0.5s;
}

@media screen and (min-width: 960px) {
    @keyframes routeAnimation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 960px) {
    @keyframes routeAnimation {
        0% {
            opacity: 0;
            transform: translateX(20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
