@media screen and (min-width: 960px) {

    .song-menu-container {
        width: 700px;
        margin: auto;
    }

    .song-menu-item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .song-menu-name {
        margin-top: 3px;
        font-size: 13px;
    }
}

@media screen and (max-width: 960px) {

    .song-menu-item {
    }
}

.song-menu-img {
    width: 100%;
    height: auto;
}
