@media screen and (min-width: 960px) {
    .page {
        display: grid;
        grid-template-rows: 60px 1fr 80px;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
}

@media screen and (max-width: 960px) {
    .page {
        display: grid;
        grid-template-rows: 1fr 45px 55px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main"
            "footer"
            "sidebar";
    }
}

.page-header {
    grid-area: header;
    padding: 5px 10px 10px 10px;
    border-bottom: 1px solid;
    border-color: var(--mud-palette-dark-lighten);
}

.logo {
    width: 190px;
}

.title {
    font-size: 20px;
    color: var(--mud-palette-primary);
}

.page-nav {
    grid-area: sidebar;
    padding: 10px;
    border-right: 1px solid;
    border-color: var(--mud-palette-dark-lighten);
}

.page-main {
    grid-area: main;
    overflow: hidden;
    padding: 10px;
}

.page-bottom {
    grid-area: footer;
    padding: 10px;
    border-top: 1px solid;
    border-color: var(--mud-palette-dark-lighten);
}

::deep .containerPage {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}



.playing-page-drawer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: #000;
    z-index: 999;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
}

    .playing-page-drawer.open {
        visibility: visible;
        transform: translateY(0%);
    }
