@media screen and (min-width: 960px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .search {
        width: 200px;
    }
}

@media screen and (max-width: 960px) {
}

.tab-container {
    display: flex;
}

.tab-item {
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

    .tab-item.active {
        border-color: var(--mud-palette-primary);
        color: var(--mud-palette-primary);
    }

.discover-detail {
    overflow-y: auto;
}
