.page {
    width: 100%;
    height: 100%;
}

.music-content {
    position: relative;
    background-color: #000000;
}

.tool-bar {
    z-index: 100;
    margin: 0 10px 0 10px;
}

.music-info {
    z-index: 100;
    position: absolute;
    margin-top: 50px;
}

.blurBgMask {
    width: 100%;
    height: 100%;
    opacity: .6;
    background-color: rgba(0,0,0,.35);
    z-index: 10;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 9;
    filter: blur(90px);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 960px) {
    .music-info {
        width: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-rows: 430px;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "image detail";
    }

    .music-image {
        grid-area: image;
        justify-self: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 200px;
    }

    .music-detail {
        grid-area: detail;
        justify-self: center;
        width: 400px;
    }

    .playing-player-bar {
        height: 80px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 960px) {
    .music-info {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "detail";
    }

    .music-image {
        grid-area: image;
        justify-self: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 60%;
    }

    .music-detail {
        grid-area: detail;
        justify-self: center;
        width: 80%;
    }
}

.copy {
    color: #FFFFFF;
    opacity: 0.6;
}

.title {
    color: #FFFFFF;
    font-size: 24px;
    margin: auto;
}

.name {
    color: #FFFFFF;
    opacity: 0.6;
    margin: 5px auto 0 auto;
}


.lyric {
    color: #FFFFFF;
    opacity: 0.6;
    height: 60%;
    overflow: auto;
    font-size: 15px;
    margin-top: 20px;
}

    .lyric ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.lyric-row {
    height: 34px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
}

    .lyric-row.highlight {
        color: #C98FFF;
        opacity: 1;
    }

.player-bar-bg {
    position: fixed;
    min-width: 940px;
    width: 100%;
    height: 80px;
    bottom: 0;
    z-index: 1000;
    background: #333;
}

.player-bar {
    background-position: left bottom;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    filter: blur(90px);
    box-shadow: 0 -10px 20px #403f3f;
}

.music-image-avatar {
    width: 200px;
    height: 200px;
    animation: spin 60s linear infinite;
}

.animation-paused {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
