.page {
    width: 100%;
    height: 100%;
}

.blurBgMask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    background-color: rgba(0,0,0,.35);
    z-index: 10;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    z-index: 9;
    filter: blur(90px);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 960px) {

    .blurBgMask {
        top: 50px;
        height: calc(100vh - 130px);
    }

    .music-page {
        display: grid;
        grid-template-rows: 50px 1fr 80px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "toolbar toolbar"
            "image detail"
            "playerbar playerbar";
    }

    .music-image {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    .music-image-avatar {
        width: 200px;
        height: 200px;
        animation: spin 60s linear infinite;
    }

    .music-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .music-detail {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 960px) {
    .music-page {
        max-height: 100%;
        display: grid;
        grid-template-rows: 50px auto 1fr 150px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "toolbar"
            "image"
            "detail"
            "playerbar";
    }

    .music-image {
        margin-left: 22%;
        margin-right: 22%;
    }

    .music-image-avatar {
        width: 100%;
        animation: spin 60s linear infinite;
    }

    .music-img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }


    .music-detail {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.tool-bar {
    z-index: 100;
    grid-area: toolbar;
    margin: 10px 10px 0 10px;
}

.music-image {
    z-index: 100;
    grid-area: image;
}

.music-detail {
    z-index: 100;
    grid-area: detail;
    overflow-y: auto;
}

.player-bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    grid-area: playerbar;
}

.title {
    color: #FFFFFF;
    font-size: 24px;
    margin: auto;
    width: 100%;
}

.name {
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist-album {
    color: #FFFFFF;
    opacity: 0.6;
    margin: 5px auto 0 auto;
}

.artist {
    flex-shrink: 0;
}

.album {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lyric {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 15px;
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
}

    .lyric ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.lyric-row {
    height: 34px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    opacity: 0.6;
}

    .lyric-row.highlight {
        color: #C98FFF;
        opacity: 1;
    }



.animation-paused {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
