@media screen and (min-width: 960px) {
    .header {
        display: flex;
        align-items: center;
    }

    .playlist {
    }

    .playlist-detail:hover {
        background-color: var(--mud-palette-table-striped);
    }

    .playlist .tool {
        width: 100px;
    }
}

@media screen and (max-width: 960px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .playlist-detail {
        flex-direction: row-reverse;
    }
}
