@media screen and (min-width: 960px) {
    .header {
        display: flex;
        align-items: center;
    }

    .playlist-detail .tool {
        width: 70px;
    }
}

@media screen and (max-width: 960px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .playlist-detail {
        flex-direction: row-reverse;
    }

    .music-info {
        margin-right: 20px;
    }
}

.tool {
    white-space: nowrap;
}

.music-name {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.music-artist {
    font-size: 0.9rem;
    flex-shrink: 0;
    opacity: 0.7;
}
