@media screen and (min-width: 960px) {
    .page {
        width: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 960px) {
}

.type-title {
    font-size: 18px;
    font-weight: bold;
}
