.small-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-paused {
    animation-play-state: paused;
}

.music-name {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.music-artist {
    font-size: 0.9rem;
    flex-shrink: 0;
    opacity: 0.7;
}
