.small-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-paused {
    animation-play-state: paused;
}

.music-info {
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.play-btn {
    height: 30px;
    width: 55px;
}
