.info {
    background-color: var(--mud-palette-background);
    margin: auto;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}

.message {
    margin-top: 10px;
    color: var(--mud-palette-primary);
}
