<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="cursor-default @Class" @ondblclick="@(Click)">
        @ChildContent
    </div>
</MudHidden>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="cursor-pointer @Class" @onclick="@(Click)">
        @ChildContent
    </div>
</MudHidden>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task Click()
    {
        await OnClick.InvokeAsync();
    }
}
