.seq {
    font-size: 14px;
    opacity: 0.5;
}

.music-info {
    width: calc(100vh - 100px);
    overflow: hidden;
    white-space: nowrap;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist-album {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    opacity: 0.7;
}
